.footer {
	background-color: #000;
	padding: 10px;
	border-radius: 0 0 25px 25px;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.footer__container {
    display: grid;
    grid-template-columns: 49.5% 1% 49.5%;
    padding: 10px;
}
.footer__contdiv {
    margin: auto 20px;
}
.footer__contdiv-contacts ul {
    list-style: none;
    padding: 5px;
}
.contacts__link {
    margin: 10px 0;
}
.contacts__link a {
    color: #fff;
    display: inline-block;
    margin-left: 5px;
}
.other1 {
        border-left: 1px solid #fff;
        width: 0px;
        margin: 0 auto;
}
.footer__contdiv-info ul {
    list-style: none;
    padding: 5px;
}
.footer__contdiv-info ul li {
    padding: 5px;
}
.footer__contdiv-info__image {
	width: 100px;
	height: 100px;
	padding: 2px;
    margin: 0 auto;
}
.footer__contdiv-info__image img {
	width: 100%;
	height: 100%;
}
.copy {
    border-top: 1px solid #fff;
    padding: 20px 0;
}