@import './global.css';
@import './header.css';
@import './footer.css';
@import './percentage.css';

.main {
    display: flex;
    padding: 20px 100px;
    transition: all 0.3s ease-in-out !important;
}
.main__content {
    text-align: justify;
}
.main__link {
    color: black;
}

.main h1,.main h2,.main h3,.main h4,.main h5,.main h6 {
    text-align: left;
}

section ul {
    padding: 10px 0 0 20px;
    list-style: square;
}

/*BARRAS DE PROGRESO*/
/*________________________________*/
.progresbar, .progresbar div {
    border-radius: 25px;
    height: 10px;
}
.progresbar {
    margin: 5px 0 10px 0;
    width: 160px;
    background-color: #fff;
}


/*ABME*/
.spa, .eng {
    background-color: #000;
}
.spa {
    animation-duration: 1.5s;
    animation-name: spa;
}
.eng {
    animation-duration: 1.5s;
    animation-name: eng;
}

/*HABS*/
div.html {
    background-color: rgb(219, 80, 0);
    animation-duration: 1.5s;
    animation-name: html;
}
div.css {
    background-color: rgb(82, 179, 240);
    animation-duration: 1.5s;
    animation-name: css;
}
div.js {
    background-color: rgb(255, 238, 0);
    animation-duration: 1.5s;
    animation-name: js;
}
/*________________________________*/


/*ÍCONOS*/
/*________________________________*/
h4.js, h4.css, h4.html {
    display: inline-block;
    margin-left: 5px;
}
.colorhtml {
    color: rgb(219, 80, 0);
}
.colorcss {
    color: rgb(82, 179, 240);
}
.colorjs {
    color: rgb(255, 238, 0);
}
/*________________________________*/


/*TRANSICIÓN*/
/*________________________________*/

.wait {
    padding: 5px !important;
    color: rgb(78, 78, 78) !important;
}
.waitc {
    display: none !important;
}
/*________________________________*/


/*ANIMACIÓN PÁGINA ABOUT ME*/
/*________________________________*/
@keyframes spa {
    from {
        width: 0%;
    }
    
    to {
        width: 100%;
    }
}
@keyframes eng {
    from {
        width: 0%;
    }
    
    to {
        width: 70%;
    }
}
/*________________________________*/

/*ANIMACIÓN PÁGINA HABILITIES*/
/*________________________________*/
@keyframes html {
    from {
        width: 0%;
    }
    
    to {
        width: 100%;
    }
}
@keyframes css {
    from {
        width: 0%;
    }

    to {
        width: 86%;
    }
}
@keyframes js {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}
/*________________________________*/